body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #004080;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .nav-externa ul, .nav-interna ul {
    list-style: none;
    display: flex;
    margin: 0 20px;
    padding: 0;
  }
  
  .nav-externa li, .nav-interna li {
    margin-right: 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
  }
  
  .secao {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .secao article {
    background-color: #f0f0f0;
    padding: 15px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  
  footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px;
  }